.a {
    width: 80%;
    background-color: cornflowerblue;
    border: 2px solid purple;   /* short hand to call multple aspects of a border*/
    padding: 50px;
    color: white;               /*color is for the font */
    font-family: sans-serif;
    text-align: center;
}

#container{
    width: 100%;
    background-color: lightblue;
    border: 3px solid crimson;
    padding: 0 0 50px 0;
}

#child_container{
    width: 70%;
    background-color: bisque;
    height: 100px;
    margin: 100px auto;  /* memorise that margins work in clockwise, so 1 number will apply to all,
    2 number applies to top and bottom, 3 number applies top, right, and bottom */
    padding: 30px;
}
